table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    text-align: left;
    padding: 8px;
    
  }
th{
    color: #283592;
  }
  tr:nth-child(even) {
    background-color: #f4f6fb;
  }


#subtotal {
    width: 264%;
  }
  h1 {
    color: #E01B91;
  }