<div class="invoice-table"> 
    <table>
        <tr>
          <td rowspan="2">
          <span>Invoice for</span><br>
            Jane<br>
            Hyper Shop<br>
            143, Mapagmahal<br>
           Maguindanao, Philippines, 555<br>
          </td>
            <td> 
                <span>Payable to</span><br>
                Jane
            </td>

            <td>
                <span>Invoice #</span><br>
                111
            </td>
        </tr>
        <tr>
            <td>
                <span>Project</span><br> 
                keyboard
            </td>
            <td>
                <span>Due Date</span> <br>
                3/01/2023
            </td>
        </tr>
      </table>
      <hr>
</div>

